@import "tailwindcss";

@theme {
  --font-sans: PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
  --text-base: 16px
}

@layer utilities {
  .bg-gradient-favicon {
    background-image: linear-gradient(-45deg, #ffab22 50%, #ffcf2a 50%);
    filter: blur(72px)
  }
}

.Vue-Toastification__toast {
  min-height: 40px;
  padding: 10px;
  align-items: center;
}

.Vue-Toastification__icon {
  margin: 0
}

.Vue-Toastification__toast-body {
  padding-left: 10px
}


.bg-green-500,
.bg-yellow-500,
.bg-orange-500,
.bg-red-500,
.bg-purple-500,
.bg-rose-500 {

}