@import "tailwindcss";
@import "remixicon/fonts/remixicon.css";

@layer utilities {
  .bg-gradient-favicon {
    background-image: linear-gradient(-45deg, #ffc669 50%, #fff4a9 50%);
    filter: blur(72px)
  }
}

* {
  font-family: PingFangSC-Regular, Roboto, Helvetica Neue, Helvetica, Tahoma, Arial, PingFang SC-Light, Microsoft YaHei, sans-serif;
}

.Vue-Toastification__toast {
  min-height: 40px;
  padding: 10px;
  align-items: center;
}

.Vue-Toastification__icon {
  margin: 0
}

.Vue-Toastification__toast-body {
  padding-left: 10px
}